# Email alerts
SMTP_HOST=smtp-mail.outlook.com
SMTP_PORT=587
SMTP_USER=tu-email@outlook.com
SMTP_PASSWORD=tu-password
SMTP_RECIPIENT=planificacion@empresa.com
SMTP_SENDER_NAME=Control Tower ANACO

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

# NiFi
NIFI_USERNAME=admin
NIFI_PASSWORD=Admin123456!

# Open-Meteo demo source
OPEN_METEO_LATITUDE=36.1408
OPEN_METEO_LONGITUDE=-5.3536
OPEN_METEO_TIMEZONE=Europe/Madrid
