.venv-jobs/
.venv-dashboard/
__pycache__/
*.pyc
.env

# Airflow local artifacts
airflow/airflow.cfg
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/standalone_admin_password.txt
airflow/logs/
airflow/webserver_config.py
jobs/dashboard_bundle_output.json
